*{
  margin: 0;
  box-sizing: border-box;
}
html{
  background-color: brown;
}
h1{
  text-align: center;
  margin: 5px auto;
  width: 90%;
}
body{
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: white;
}
table{
  margin: 0 auto;
  width: 90%;
  border-spacing: 0px;
  border: solid 1px black; 
}
table *{
  margin-top: 3px;
  margin-bottom: 3px;
}
tr{
  width: 100%;
}
td{
  border: solid 1px black; 
}
caption{
  width: 100%;
  margin: 3px auto;
}
input[type="text"]{
  width: 100%;
}
input[type="number"]{
  width: 100%;
}
input[type="date"]{
  width: 100%;
}
input[type="checkbox"],input[type="radio"]{
  margin: 0 3px;
}
input{
  text-align: center;
}
.button-container{
  width: 100%;
  text-align: center;
}
.button-container button{
  padding: 10px 20px;
  margin: 10px 10px;
}
.button-container button:hover{
  cursor: pointer;
}
.button-container button:active{
  background-color: black;
}
#idNumber{
  text-align: right;
  margin-right: 10px;
}
#idNumber input{
  width: 10rem;
}
.hidden{
  display: none;
}
.page-btn-container{
  position: fixed;
  top: 5px;
  left: 5px;
}
section{
  margin-bottom: 10px;
}
.smallfont{
  font-size: 80%;
}
.smallinput input{
  width: 100%;
}
#section3{
  background-color: white;
  width: 100%;
  height: 93%;
  position: fixed;
  top: 7%;
  left: 0;
  overflow: scroll;
}
#section3 td{
  min-width: 3rem;
}
